body{
    background-image: url(../Backgrounds/pexels-nick-kwan-2725479.jpg);
    background-size: cover;
    
}

/* 
input[type=text],[type=date]{
    width: 210px;
    height: 50px;
    padding: 0 16px;
    background: transparent;
    border-radius: 4px;
    border: 1px solid #004603;
    color: #f9f9f9;
    animation: shake_541 0.14s 3;
  }
  
  input:valid {
    border-color: #45feaf;
    animation: none;
  }
  
  @keyframes shake_541 {
    0%, 100% {
      translate: 0;
    }
  
    25% {
      translate: 8px 0;
    }
  
    75% {
      translate: -8px 0;
    }
  }
 */

.main{
    width: 1100px;
    margin: 10% auto;
}
  
.slogan{
    color: white;
    font-size: 70px;
    margin-bottom: 30px;
    
}

.smain{
    display: flex;
    
}

h3{
    font-size: 32px;
    color: bisque;
    margin-right: 20px;
}

.get_started {
    border-radius: .25rem;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    padding-left: 25px;
    padding-right: 25px;
    color: #fff;
    -webkit-clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
    clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
    height: 40px;
    font-size: 0.7rem;
    line-height: 14px;
    letter-spacing: 1.2px;
    transition: .2s .1s;
    background-image: linear-gradient(90deg,#1c1c1c,#790202);
    border: 0 solid;
    overflow: hidden;
  }
  
  .get_started:hover {
    cursor: pointer;
    transition: all .3s ease-in;
    padding-right: 30px;
    padding-left: 30px;
  }