body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to left, #A5CC82, #00467F);
}

.navbar_links{
    margin-right: 0;
}

.card{
    width: 550px;
    height: 1100px;
    margin: 0 auto;
    background-image: linear-gradient(to right, #59c173, #a17fe0, #5d26c1);
    border-radius: 10px;
    transition: all .3s;

}

.card:hover { 
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
   }

.register_box{
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    margin-top: 60px;
    width: 550px;
    height: 1100px;
    
    margin-bottom: 50px;
    background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 1px 20px 1px;
    transition: all .2s;

}

.register_box::before{
    content: '';
    position: absolute;
    width: 600px;
    height: 1000px;
    top: -50%;
    left: -50%;
    background: linear-gradient(0deg,transparent,transparent,#45f3ff,#45f3ff,#45f3ff,#45f3ff,#45f3ff,#45f3ff);
    animation: animate 5s linear infinite;
    transform-origin: bottom right;
    cursor: pointer;
    
}

.register_box:hover {
    transform: scale(0.9855);
    border-radius: 10px;
    box-shadow: none;
   }



@keyframes animate{

    0%{
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}



label{
    display: block;
	color: lightgray;
    margin-left: 40px;
	
}

.register_box form{
    position: absolute;
    inset: 4px;
    background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 40px 40px;
    border-radius: 8px;
    
    
}



.register_box form input[type="text"],[type="email"],[type="tel"],[type="password"]{
    width: 350px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: medium;
    outline: none;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.308);
    margin-left: 40px;
    padding-right: 40px;
    
}
input[type="number"]{
    width: 350px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: medium;
    outline: none;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.308);
    margin-left: 40px;
}

select{
    padding: 10px;
    font-size: medium;
    cursor: pointer;
    background-color: #f5f6f7;
    outline: none;
    margin-left: 40px;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 12px;
}

.gender {
    margin-top: 10px;
    width: 350px;
}


.register_box form h2{
    color: #0970f8;
    text-align: center;
    letter-spacing: 0.1rem;
    font-size: 34px;
    margin-bottom: 20px;

}
 

input[type="submit"] {
	background-color: #4CAF50;
	color: #fff;
	font-size:17px;
	padding: 10px 25px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: 0.6s;
    margin-left: 130px;
}

input[type="submit"]:hover {
	background-color: #266328;
}
.signup{
	text-decoration: none;
	margin-left: 100px;
	background-color: #1877F2;
	padding: 10px 30px;
	font-size: 17px;
	border-radius: 4px;
	color: white;
	transition: 0.6s;
}
.signup:hover{
	background-color: #0f33fa;

}

#pw img{
    transform: translate(-35px,6px);
    cursor: pointer;
    opacity: 0.5;
    
  }
   



input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ok{
    background-color: rgb(148, 179, 101);
     color: #ffffff;
   text-align: center;
    padding: 10px;
   
}